.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

*{
    font-family: Arial, sans-serif;
}

.user-profile {
    display: flex;
    align-items: center; /* Alinea verticalmente al centro */
    justify-content: space-between;
    margin-top: 2%;
}

.image-container {
    max-width: 100px; /* Ajusta el tamaño según sea necesario */
}

.modo-img {
    width: 70%;
    height: auto; /* Mantiene la proporción de la imagen */
    right: 0%;
    border-radius: 50%; /* bordes redondos */
    object-fit: cover; /* Ajusta imagen dentro del borde */
}

.profile-container {
    display: flex;
    align-items: center;
}

.fotoperfil{
    width: 8rem;
    height: 8rem; /* Mantiene la proporción de la imagen */
    border-radius: 50%; /* bordes redondos */
    object-fit: cover; /* Ajusta imagen dentro del borde */
}

/* Contenedor del formulario */
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinea todo a la izquierda */
    gap: 10px; /* Añade espacio entre los elementos */
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 1000px; /* Limita el ancho del formulario */
    margin: auto; /* Centra el formulario */
}

/* Estilo de los campos del formulario */
form label {
    font-weight: bold; /* Texto en negrita */
}

#form-container{
    column-count: 2; /*Esto es para separar en columnas*/
}

/* Aplicación de estilos Bootstrap a los inputs y feedback */
form .form-control {
    width: 100%; /* Ancho completo */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 1em;
}

/* Estilos para los mensajes de error */
.invalid-feedback {
    color: red;
    font-size: 0.9em;
    display: none; /* Oculta el mensaje inicialmente */
}

#cancelar{
    width: calc(50% - 5px);
}

/* Botones de envío */
form input[type="submit"] {
    width: calc(50% - 5px); /* Mitad del ancho con espacio */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer; /* Cambia el cursor */
    font-size: 1em;
}

/* Botón cancelar */
form input[type="submit"][value="Cancelar"] {
    background-color: #dc3545; /* Rojo para cancelar */
}

/* Flexbox para los botones */
.form-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Al pasar el mouse sobre los botones */
form input[type="submit"]:hover {
    background-color: #0056b3; /* Azul más oscuro */
}

form input[type="submit"][value="Cancelar"]:hover {
    background-color: #c82333; /* Rojo más oscuro */
}


